In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv('../Downloads/titanic/train.csv')

In [7]:
df.drop(columns = 'Cabin' , inplace = True)

In [8]:
df['Embarked'].fillna('S' , inplace = True)

In [9]:
def func(cols):
    Pclass = cols[0]
    Age = cols[1]
    if pd.isnull(Age):
        if Pclass == 1:
            return 38
        elif Pclass == 2:
            return 29
        else:
            return 25
    else:
        return Age

In [10]:
df['Age'] = df[['Pclass' , 'Age']].apply(func, axis = 1)

In [11]:
df.drop(columns = ['PassengerId' , 'Name' , 'Ticket'] , inplace = True)

In [12]:
df = pd.get_dummies(data = df , columns = ['Sex'] , drop_first= True)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
Encoder = LabelEncoder()

In [15]:
df['Embarked'] = Encoder.fit_transform(df['Embarked'])

In [16]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Embarked  Sex_male
0         0       3  22.0      1      0   7.2500         2         1
1         1       1  38.0      1      0  71.2833         0         0
2         1       3  26.0      0      0   7.9250         2         0
3         1       1  35.0      1      0  53.1000         2         0
4         0       3  35.0      0      0   8.0500         2         1

In [17]:
X = df.drop(columns = 'Survived')

In [18]:
y = df['Survived'].values

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
 X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=101)

In [21]:
import xgboost as xgb

In [22]:
Dmat = xgb.DMatrix(X , label = y)

In [23]:
xgb_reg = xgb.XGBClassifier()

In [24]:
xgb_reg.fit(X_train , y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [25]:
pre = xgb_reg.predict(X_test)

In [26]:
from sklearn.metrics import confusion_matrix , classification_report

In [27]:
print(classification_report(y_test , pre))

              precision    recall  f1-score   support

           0       0.82      0.90      0.86       154
           1       0.85      0.73      0.78       114

    accuracy                           0.83       268
   macro avg       0.83      0.82      0.82       268
weighted avg       0.83      0.83      0.83       268